*
{
    padding: 0;
    margin: 0;
}
body
{
    background:tomato;
    color: white;
}
.header
{
    background-image: url(background/images.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.text
{
    text-align: center;
    padding: 3px 8px;
    color: red;
}
.header-text
{
    text-align: center;
    margin-top: 10%;
    font-size: 40px;
}
.header-text h1
{
    color: #ff004f;
    text-shadow: 8px 8px 8px white;
    font-family: 'Akronim';
    font-size: 10vw;
}
.header-text h1
{
    font-size: 200px;
    margin-top: 10px;
}
.header-text p 
{
    color:#ff004f;
    font-family: 'Brush Script MT', cursive;
}
.card img
{
    width: 100%;
    height: 80%;
}

.card
{
    background-color: yellow;
    width: 80%;
    height: 80%;
    
}
.card-title
{
    text-align: center;
    color: red;
    font-family: 'Brush Script MT', cursive;
    font-size: 180%;
}
.title
{
    text-align: center;
}